.detail {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 300px;
  border: 0.5px solid #dddddd;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 10px;
  padding-left: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.detail:hover {
  background-color: #f5f5f5;
}
.detail__detail {
  display: flex;
  flex-direction: column;
}
.detail__name {
  font-weight: bold;
  color: gray;
}
.detail__paid {
  font-weight: bold;
  color: chartreuse;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.detail__date {
  font-size: 10px;
  font-weight: 500;
}
.detail__options {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #dddddd;
  right: -70px;
  bottom: 50px;
  width: 100px;
  background-color: white;
  border-radius: 5px;
  height: 50%;
}
.detail__attach {
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #dddddd;
}
.attach__container {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  position: relative;
}
.attach__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 2px;
  cursor: pointer;
}
.attach__item:hover {
  background-color: #dddddd;
}
.attach__item .MuiIcon-root {
  width: 20px;
}
.attach__container p {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}
.detail__attach > p {
  font-weight: bold;
  color: gray;
  font-size: 12px;
  padding-left: 5px;
  letter-spacing: 2px;
}
.detail__upload {
  width: 100%;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 30px;
  background-color: #2f3036;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.detail__name {
  margin-top: 5px;
  width: 100%;
}
.detail__name > input {
  width: 90%;
  height: 25px;
  border: 0.5px solid gray;
  margin-top: 5px;
  border-radius: 4px;
}
.detail__name > input:focus {
  border: 0.5px solid gray;
  outline: none;
  border-radius: 4px;
}
.detail__bl {
  font-weight: bold;
  color: grey;
  cursor: pointer;
  text-decoration: underline;
}
.detail__bl:hover {
  color: blue;
}
